### Tablas de contingencia

In [4]:
import pandas as pd
data = {
    'Fruta': ['Manzana', 'Manzana', 'Manzana', 'Plátano', 'Cereza', 'Uva', 'Uva', 'Naranja', 'Naranja', 'Naranja'],
    'Es Roja': ['Sí', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'No', 'No']
}
df = pd.DataFrame(data)
df.head()

     Fruta Es Roja
0  Manzana      Sí
1  Manzana      Sí
2  Manzana      No
3  Plátano      No
4   Cereza      Sí

In [5]:
tabla_contingencia = pd.crosstab(
    df['Fruta'],
    df['Es Roja'],
    margins=True,
    margins_name='Total',
)

In [6]:
tabla_contingencia

Es Roja  No  Sí  Total
Fruta
Cereza    0   1      1
Manzana   1   2      3
Naranja   3   0      3
Plátano   1   0      1
Uva       1   1      2
Total     6   4     10